<section class="section-body">
    <h3 translate="status.common.singular.title"></h3>
    <p>the following information delivered by node.js os ... see https://nodejs.org/api/os.html</p>
    <a class="btn btn-primary" ui-sref="app.security.login">go</a>
    <table class="table table-condensed">
        <tr>
            <th>key</th>
            <th>value</th>
        </tr>
        <tr>
            <td>CPU architecture</td>
            <td>{{coreVm.os.arch}}</td>
        </tr>
        <tr>
            <td>uptime</td>
            <td>{{coreVm.os.uptime}}</td>
        </tr>
        <tr>
            <td>freemem</td>
            <td>{{coreVm.os.freemem}}</td>
        </tr>
        <tr>
            <td>totalmem</td>
            <td>{{coreVm.os.totalmem}}</td>
        </tr>
        <tr>
            <td>homedir</td>
            <td>{{coreVm.os.homedir}}</td>
        </tr>
        <tr>
            <td>tmpdir</td>
            <td>{{coreVm.os.tmpdir}}</td>
        </tr>
        <tr>
            <td>hostname</td>
            <td>{{coreVm.os.hostname}}</td>
        </tr>
        <tr>
            <td>platform</td>
            <td>{{coreVm.os.platform}}</td>
        </tr>
        <tr>
            <td>release</td>
            <td>{{coreVm.os.release}}</td>
        </tr>
        <tr>
            <td>type</td>
            <td>{{coreVm.os.type}}</td>
        </tr>
        <tr>
            <td>endianness</td>
            <td>{{coreVm.os.endianness}}</td>
        </tr>
        <tr ng-repeat="load in coreVm.os.loadavg">
            <td>Load {{$index + 1}}</td>
            <td>{{load}}</td>
        </tr>
        <tr ng-repeat="cpu in coreVm.os.cpus">
            <td>CPU {{$index + 1}}</td>
            <td>
                Model: {{cpu.model}}<br>
                Speed: {{cpu.speed}} MHz<br>
                Times idle: {{cpu.times.idle}}<br>
                Times irq: {{cpu.times.irq}}<br>
                Times nice: {{cpu.times.nice}}<br>
                Times user: {{cpu.times.user}}<br>
                Times sys: {{cpu.times.sys}}
            </td>
        </tr>
        <tr ng-repeat="(key, nwi)  in coreVm.os.networkInterfaces">
            <td>Network interface - {{key}}</td>
            <td>
                <div ng-repeat="nwisetup  in nwi">
                    <hr ng-if="$index > 0">
                    <p ng-repeat="(key, value)  in nwisetup">
                        <span class="text-uppercase">{{key}}</span>
                        <span>{{value}}</span>
                    </p>
                </div>
            </td>
        </tr>
    </table>

</section>